/* .App {
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
}

.twitterContainer {
  width: 550px;
  padding: 20px;
  box-shadow: rgb(197, 178, 178) 0px 0px 12px 1px;
  border-radius: 10px;
  margin: 25px;
}
.twitterHeader {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.userDetails {
  margin-right: 300px;
}
.profileImage {
  border-radius: 50%;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icon {
  cursor: pointer;
}
/* .titleContainer {
  height: 200px;
} */

/* h3 {
  background-color: rgb(254, 165, 165);
  color: rgb(173, 33, 15);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgb(254, 165, 165) 0px 0px 5px 1px;
} */
h4 {
  color: red;
  padding: 10px;
  box-shadow: rgb(254, 165, 165) inset 0px 0px 12px 1px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}
.header {
  background-color: rgb(67, 67, 164);
  color: rgb(235, 242, 248);
  text-align: center;
  padding: 15px;
}

.menuBar {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  margin: 10px 100px 0px 100px;
}
.btns {
  text-decoration: none;
  /* border: black solid 1px; */
  border-radius: 10px;
  border: none;
  height: 30px;
  background-color: white;
  width: 150px;
  box-shadow: rgb(196, 190, 231) inset 0px 0px 12px 1px;
  cursor: pointer;
}
.main-page {
  text-align: center;
  color: rgb(182, 43, 43);
}
