/* .App {
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
}
.mother-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center */
  /* height: 600px; */
}
.comments-container {
  margin-bottom: 10px;
  padding: 0;
  margin-top: 15px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #1da1f2 0px 0px 5px 0px;
}
.com-image {
  width: 30px;
  height: 30px;
  background-color: #1da1f2;
  border-radius: 50%;
  margin: 10px;
}
.comments-header {
  display: flex;
  align-items: center;
  border-bottom: #aab8c2 solid 0.5px;
  margin-bottom: 10px;
}
.twitterContainer {
  width: 550px;
  padding: 20px;
  box-shadow: rgb(197, 178, 178) 0px 0px 12px 1px;
  border-radius: 10px;
  margin: 35px;
  justify-content: center;
}
.twitterHeader {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.userDetails {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.verify {
  margin-left: 5px;
}
.profileImage {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.main-img {
  width: 550px;
  border-radius: 10px;
  margin: 15px 0px 15px 0px;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icon {
  cursor: pointer;
  width: 25px;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.loading-icon {
  width: 50px;
  height: 50px;
  color: #1da1f2;

  box-shadow: rgb(197, 178, 178) 0px 0px 12px 1px;
  border-radius: 50%;
}
.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 800;
  box-shadow: #aab8c2 inset 0px 0px 12px 1px;
  color: #1da1f2;
}
.heart-btn {
  color: #1da1f2;
  cursor: pointer;
  font-size: 20px;
}

.header {
  background-color: rgb(67, 67, 164);
  color: rgb(235, 242, 248);
  text-align: center;
  padding: 15px;
}

.menuBar {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  margin: 10px 100px 0px 100px;
}
.btns {
  text-decoration: none;
  /* border: black solid 1px; */
  border-radius: 10px;
  border: none;
  height: 30px;
  background-color: white;
  width: 150px;
  box-shadow: rgb(196, 190, 231) inset 0px 0px 12px 1px;
  cursor: pointer;
}
.main-page {
  text-align: center;
  color: rgb(182, 43, 43);
}
